table {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding:0; 
	margin:0;
	 border-collapse: collapse;
}

td,th {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}